langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.29
langchain-chroma==0.2.5
chromadb==1.0.20

langchain-text-splitters==0.3.11

transformers==4.44.2
huggingface-hub==0.24.6
sentence-transformers==3.1.1

pydantic==2.9.2
pydantic-settings==2.10.1

beautifulsoup4==4.13.5
pypdf==5.1.0
unstructured==0.15.14
langchain-huggingface==0.3.1
